
/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     /*padding: 20px;*/
		 margin: 0;
		 padding: 0;
		 font-family: "Futura", Verdana, serif;
		 font-size: 15px;
}

h2 {
	margin-top: 100px;
	color: white;
	font-size: 50px;
}

h1 {
	margin-top: 100px;
	color: black;
	font-size: 50px;
}

.project {
	font-size: 45px;

}

.info {
	text-align: center;
	margin-top: 200px;
	font-size: 30px;
	color: white;
	font-family: "Futura", Verdana, serif;
}

.nav {
    /*overflow: hidden;
    background-color: #ccdfde;
		display: inline-block;
		position: fixed;
		top: 20px;*/
		top: 0;
		width: 100%;
		height: 90px;
		background-color: #ccdfde;
		display: block;
		position: fixed:absolute;
}

.navigation{
	display: inline;
	text-align: center;
}

.navigation .left {
    float: left;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		color: black;
		padding: 35px 25px;
		text-decoration: none;
    /*display: inline-grid;
    color: black;
    text-align: left;
    padding: 35px 25px;
		margin-left: 35px;
    text-decoration: none;
    font-size: 20px;*/
}

.navigation .right {
    float: right;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		color: black;
		padding: 35px 25px;
		text-decoration: none;
	}

.navigation a:hover{
	background-color: white;
}

#searchNav{
	float: left;
	display: inline;
	margin-left: 250px;
	background-color: white;
	margin-top: 20px;
	height: 50px;
	padding-left: 10px;
	/*padding: 6px;
	border: none;
	margin-top: 20px;
	width: 650px;
	height: 40px;
	font-size: 20px;
	font-family: "Futura", Verdana, serif;
	color: black;
	font-weight: lighter;
	background: white;
	display: inline;*/
	/*margin-right: auto;
	margin-left: auto;*/
}

.navigation input[type=text] {
    padding: 12px;
		margin-top: 0px;
    border: none;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		width: 225px;
		height: 25px;
		color: black;
		/*margin-right: 15px;
		color: black;
		font-weight: lighter;*/
}

.navigation button {
    float: center;
		padding: 6px;
		margin-top: 0px;
		border: none;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		cursor: pointer;
		width: 100px;
		height: 50px;
		background-color: #6ca2a0;
    /*padding: 6px;
    border: none;
		width: 200px;
		height: 30px;
    font-size: 15px;
		margin-right: 20px;
		font-family: "Futura", Verdana, serif;
		color: black;
		font-weight: lighter;*/
}

.navigation .searchbar button {
	float: center;
  width: 100px;
	height: 30px;
  padding: 6px;
	margin-left: 600px;
  background: #ccdfde;
  color: black;
  font-size: 20px;
	font-family: "Futura", Verdana, serif;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
	display: block;
}


.searchbar {
		float: center
		padding: 6px;
		margin-top: 0px;
		margin-right: 100px;
		margin-left: 60px;
		font-size: 20px;
		border: 1px solid gray;
		color: #bfbfbf;
		background: white;
		display: inline-block;
}

.searchbar p {
    float: center;
    padding: 6px;
		margin-left: 10px;
    border: none;
    font-size: 30px;
		font-family: "Futura", Verdana, serif;
		color: #4d4d4d;
		display: inline;
		background: white;
		font-weight: bold;
}

.searchbar placeholder {
    float: center;
    padding: 6px;
    border: 1px solid blue;
		margin-right: 80px;
}


.searchbar input {
    float: center;
    padding: 6px;
    border: none;
		width: 300px;
		height: 50px;
    font-size: 20px;
		margin-right: 50px;
		font-family: "Futura", Verdana, serif;
		color: black;
		font-weight: lighter;
}

.searchbar button {
  float: right;
  width: 160px;
	height: 72px;
  padding: 6px;
	margin-left: 40px;
  background: #ccdfde;
  color: black;
  font-size: 20px;
	font-family: "Futura", Verdana, serif;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
