/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */

body {
     /*padding: 20px;*/
		 margin: 0;
		 padding: 0;
		 font-family: "Futura", Verdana, serif;
		 font-size: 15px;
}

p {
	padding: 20px;
}

h2 {
	margin-top: 100px;
	color: white;
	font-size: 50px;
	padding-left: 60px;
}

h1 {
	margin-top: 50px;
	color: black;
	font-size: 50px;
	padding-left: 20px;
}

.info {
	text-align: center;
	margin-top: 200px;
	font-size: 30px;
	color: white;
	font-family: "Futura", Verdana, serif;
}

.nav {
		top: 0;
		width: 100%;
		height: 90px;
		background-color: #ccdfde;
		display: block;
		position: fixed:absolute;
}

.navigation{
	display: inline;
	text-align: center;
}

.navigation .left {
    float: left;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		color: black;
		padding: 35px 25px;
		text-decoration: none;
}

.navigation .right {
    float: right;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		color: black;
		padding: 35px 25px;
		text-decoration: none;
	}

.navigation a:hover{
	background-color: white;
}

#searchNav{
	float: left;
	display: inline;
	margin-left: 250px;
	background-color: white;
	margin-top: 20px;
	height: 50px;
	padding-left: 10px;
}

.navigation input[type=text] {
    padding: 12px;
		margin-top: 0px;
    border: none;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		width: 225px;
		height: 25px;
		color: black;
}

.navigation button {
    float: center;
		padding: 6px;
		margin-top: 0px;
		border: none;
		font-family: "Futura", Verdana, serif;
		font-size: 15px;
		cursor: pointer;
		width: 100px;
		height: 50px;
		background-color: #6ca2a0;
}

.navigation .searchbar button {
	float: center;
  width: 100px;
	height: 30px;
  padding: 6px;
	margin-left: 600px;
  background: #ccdfde;
  color: black;
  font-size: 20px;
	font-family: "Futura", Verdana, serif;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
	display: block;
}


.searchbar {
		float: center;
		padding: 6px;
		margin-top: 0px;
		margin-right: 100px;
		margin-left: 60px;
		font-size: 20px;
		border: 1px solid gray;
		color: #bfbfbf;
		background: white;
		display: inline-block;
}

.searchbar p {
    float: center;
    padding: 6px;
		margin-left: 10px;
    border: none;
    font-size: 30px;
		font-family: "Futura", Verdana, serif;
		color: #4d4d4d;
		display: inline;
		background: white;
		font-weight: bold;
}

.searchbar placeholder {
    float: center;
    padding: 6px;
    border: 1px solid blue;
		margin-right: 80px;
}


.searchbar input {
    float: center;
    padding: 6px;
    border: none;
		width: 300px;
		height: 50px;
    font-size: 20px;
		margin-right: 50px;
		font-family: "Futura", Verdana, serif;
		color: black;
		font-weight: lighter;
}

.searchbar button {
  float: right;
  width: 160px;
	height: 72px;
  padding: 6px;
	margin-left: 40px;
  background: #ccdfde;
  color: black;
  font-size: 20px;
	font-family: "Futura", Verdana, serif;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.commentForum {
  width: 600px;
  padding: 15px;
	border: 0.5px solid grey;
	margin-left: 75px;
	background-color: white;
	margin-bottom: 150px;
}

.leftColForum {
	float: left;
	width: 60%;
	padding: 0px;
}

.rightColForum {
	float: right;
	padding: 0px;
	width: 36%;
	padding: 0px;
}

.forumLinks {
	padding: 0px;
}

.containerForumAnswers {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
}

.container {
	width: 100%;
	padding: 75px;
}
.first {
	width: 45%;
	float: left;
	height: 100%;
	background-color: clear;
}
.second {
	width: 45%;
	float: left;
	height: 100%;
	background-color: clear;
	border-left: 3px solid white;
	padding-left: 20px;
}

.login input {
	float: center;
	padding: 10px;
	border: none;
	width: 200px;
	height: 20px;
	font-size: 15px;
	font-family: "Futura", Verdana, serif;
	color: black;
	font-weight: lighter;
}

.login button {
float: center;
width: 100px;
height: 20px;
padding: 10px;
margin-left: 40px;
background: #ccdfde;
color: black;
font-size: 15px;
font-family: "Futura", Verdana, serif;
border-left: none; /* Prevent double borders */
cursor: pointer;
}

#logintext {
color: white;
}

#profilePic {
	float: left;
}

.forumComment {
	font-size: 15px;
	color:black;
	font-family: "Futura", Verdana, serif;
	border: 1px solid black;
	padding: 10px;
}

.topProfile row1{
  float: left;
  padding: 10px;
}

#pic {
	width: 15%;
}

#contact {
	width: 75%;
}

#contact h1{
	font-size: 32px;
	margin-bottom: 2px;
}

#contact p {
	font-size: 16px;
}

.column2 {
		background: lightblue;
		margin-top: 7px;
		margin-left: 7px;
		border-radius: 10px;
		border: 2px solid white;
    float: left;
    width: 31%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.topProfile{
	background: lightblue;
	border: 3px solid white;
	border-radius: 10px;
	margin-top: 7px;
	margin-left: 8px;
	margin-right: 8px;
}

.img-thumbnail{
	max-width: 250px;
	max-height: 250px;
	align: left;
	padding: 30px;
}

#messageIcon{
	padding-top: 10px;
	max-width: 50px;
	max-height: 50px;
	align: left;
}

.column2 p{
	font-size: 12;
	padding: 0;
}

.titleProf{
	text-align: center;
	border-bottom: 3px solid gray;
}

#addNew {
     margin-top :20px;
}

@media only screen and (max-width : 540px){
	.chat-popup{
  	display: none !important;
	}
}

body
{
  background-color: #e9eaed;
}


.popup-box
{
  display: none;
  position: fixed;
  bottom: 0px;
  right: 220px;
  height: 285px;
  background-color: rgb(237, 239, 244);
  width: 300px;
  border: 1px solid rgba(29, 49, 91, .3);
}

.popup-box .popup-head
{
  background-color: #6d84b4;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  clear: both;
}

.popup-box .popup-head .popup-head-left
{
  float: left;
}

.popup-box .popup-head .popup-head-right{
  float: right;
  opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a{
  text-decoration: none;
  color: inherit;
}

.popup-box .popup-messages {
  height: 100%;
  overflow-y: scroll;
}
.loginButton {
	background-color: clear; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.loginButton {
	background-color: white;
	color: black;
	border: 2px solid white;
}

.loginButton:hover {
	background-color: white;
	color: white;
}

.forumResultsTemplate {
  width: 600px;
  padding: 15px;
	border: 0.5px solid grey;
	margin-left: 75px;
	background-color: white;
	}

	.viewThreadButton {
	background-color: #6ca2a0;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	border-radius: 8px;
}
