/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     padding: 20px;
		 font-family: "Futura", Verdana, serif;
}

.project {
	font-size: 45px;

}

.navigation {
    overflow: hidden;
    background-color: #ccdfde;
}

.navigation a {
    float: left;
		font-family: "Futura", Verdana, serif;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 30px;
}

.searchbar {
		float: center
		padding: 6px;
		margin-top: 200px;
		margin-right: 60px;
		margin-left: 60px;
		font-size: 20px;
		border: 1px solid gray;
		color: #bfbfbf;
		display: inline-block;
}

.searchbar p {
    float: center;
    padding: 6px;
    border: none;
    font-size: 20px;
		font-family: "Futura", Verdana, serif;
		color: gray;
		display: inline;
		background: white;
		font-weight: bold;
}

.searchbar placeholder {
    float: center;
    padding: 6px;
    border: none;
    font-size: 20px;
		font-family: "Futura", Verdana, serif;
		color: #bfbfbf;
		font-weight: lighter;
}

.searchbar input {
    float: center;
    padding: 6px;
    border: none;
    font-size: 20px;
		font-family: "Futura", Verdana, serif;
		color: #bfbfbf;
		font-weight: lighter;
}

.searchbar button {
  float: right;
  width: 160px;
	height: 72px;
  padding: 6px;
	margin-left: 100px;
  background: #bfbfbf;
  color: white;
  font-size: 20px;
	font-family: "Futura", Verdana, serif;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
